### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [37]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
school_data_to_load = "schools_complete.csv"
student_data_to_load = "students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [38]:
Total_Schools = school_data['school_name'].count()
Total_Students = student_data['student_name'].count()
Total_Budget = school_data['budget'].sum()
Avg_Math = student_data['math_score'].mean()
Avg_Read = student_data['reading_score'].mean()
Overall_Passing_Rate = round((Avg_Math+Avg_Read)/2,2)
Passing_Math = student_data[student_data.math_score >= 70]
Math_Pass = round((Passing_Math.student_name.count()/Total_Students)*100,2)
Passing_Reading = student_data[student_data.reading_score >= 70]
Reading_Pass = round((Passing_Reading.reading_score.count()/Total_Students)*100,2)                            


Sum_df = pd.DataFrame({
    "Total Schools" : [Total_Schools],
    "Total Students" : [Total_Students],
    "Total Budget" : [Total_Budget],
    "Average Math Score" : [Avg_Math],
    "Average Reading Score" : [Avg_Read],
    "Overall Passing Rate" : [Overall_Passing_Rate],
    "% Passing Math": [Math_Pass],
    "% Passing Reading" : [Reading_Pass]
})
Sum_df.head()

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Overall Passing Rate,% Passing Math,% Passing Reading
0,15,39170,24649428,78.985371,81.87784,80.43,74.98,85.81

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [39]:
Group_By_School = school_data_complete.set_index('school_name').groupby(['school_name'])

School_Types = school_data.set_index('school_name')['type']

Students_Per_School = Group_By_School['Student ID'].count()

School_Budget = school_data.set_index('school_name')['budget']

Per_Student_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

avg_math = Group_By_School['math_score'].mean()

avg_read = Group_By_School['reading_score'].mean()

pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/Students_Per_School

pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/Students_Per_School 

overall_passing = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/Students_Per_School 


School_Summary = pd.DataFrame({
    "School Type": School_Types,
    "Total Students": Students_Per_School,
    "Per Student Budget": Per_Student_budget,
    "Total School Budget": School_Budget,
    "Average Math Score": avg_math,
    "Average Reading Score": avg_read,
    '% Passing Math': pass_math,
    '% Passing Reading': pass_read,
    "Overall Passing Rate": overall_passing
})

School_Summary = School_Summary[['School Type', 
                          'Total Students', 
                          'Total School Budget', 
                          'Per Student Budget', 
                          'Average Math Score', 
                          'Average Reading Score',
                          '% Passing Math',
                          '% Passing Reading',
                          'Overall Passing Rate']]   


School_Summary.style.format({'Total Students': '{:,}', 
                          "Total School Budget": "${:,}", 
                          "Per Student Budget": "${:.0f}",
                          'Average Math Score': "{:.1f}", 
                          'Average Reading Score': "{:.1f}", 
                          "% Passing Math": "{:.1%}", 
                          "% Passing Reading": "{:.1%}", 
                          "Overall Passing Rate": "{:.1%}"})

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [40]:
Top_5 = School_Summary.sort_values("Overall Passing Rate", ascending = False)
Top_5.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [41]:
Bottom_5 = Top_5.tail()
Bottom_5 = Bottom_5.sort_values('Overall Passing Rate')
Bottom_5.style.format({'Total Students': '{:,}', 
                       "Total School Budget": "${:,}", 
                       "Per Student Budget": "${:.0f}", 
                       "% Passing Math": "{:.1%}", 
                       "% Passing Reading": "{:.1%}", 
                       "Overall Passing Rate": "{:.1%}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [42]:
Ninth_Grade_Math = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["math_score"].mean()
Tenth_Grade_Math = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["math_score"].mean()
Eleventh_Grade_Math = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["math_score"].mean()
Twelfth_Grade_Math = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["math_score"].mean()

Math_Scores = pd.DataFrame({
        "9th": Ninth_Grade_Math,
        "10th": Tenth_Grade_Math,
        "11th": Eleventh_Grade_Math,
        "12th": Twelfth_Grade_Math
})
Math_Scores = Math_Scores[['9th', '10th', '11th', '12th']]
Math_Scores.index.name = "School"

Math_Scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [43]:
Ninth_Grade_Reading = student_data.loc[student_data['grade'] == '9th'].groupby('school_name')["reading_score"].mean()
Tenth_Grade_Reading = student_data.loc[student_data['grade'] == '10th'].groupby('school_name')["reading_score"].mean()
Eleventh_Grade_Reading = student_data.loc[student_data['grade'] == '11th'].groupby('school_name')["reading_score"].mean()
Twelfth_Grade_Reading = student_data.loc[student_data['grade'] == '12th'].groupby('school_name')["reading_score"].mean()

Reading_Scores = pd.DataFrame({
        "9th": Ninth_Grade_Reading,
        "10th": Tenth_Grade_Reading,
        "11th": Eleventh_Grade_Reading,
        "12th": Twelfth_Grade_Reading
})
Reading_Scores = Reading_Scores[['9th', '10th', '11th', '12th']]
Reading_Scores.index.name = "School"

Reading_Scores.style.format({'9th': '{:.1f}', 
                          "10th": '{:.1f}', 
                          "11th": "{:.1f}", 
                          "12th": "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [17]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [44]:
bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]
school_data_complete['spending_bins'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = group_names)

#group by spending
By_Spending = school_data_complete.groupby('spending_bins')


Avg_Math = By_Spending['math_score'].mean()
Avg_Read = By_Spending['reading_score'].mean()
Pass_Math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('spending_bins')['Student ID'].count()/By_Spending['Student ID'].count()
Pass_Read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('spending_bins')['Student ID'].count()/By_Spending['Student ID'].count()
Overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('spending_bins')['Student ID'].count()/By_Spending['Student ID'].count()

            
          
Scores_By_Spend = pd.DataFrame({
    "Average Math Score": Avg_Math,
    "Average Reading Score": Avg_Read,
    '% Passing Math': Pass_Math,
    '% Passing Reading': Pass_Read,
    "Overall Passing Rate": Overall
            
})
            

Scores_By_Ppend = Scores_By_Spend[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

Scores_By_Spend.index.name = "Spending Ranges (Per Student)"

Scores_By_Spend.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [45]:
bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_data_complete['size_bins'] = pd.cut(school_data_complete['size'], bins, labels = group_names)


By_Size = school_data_complete.groupby('size_bins')


Avg_Math = By_Size['math_score'].mean()
Avg_Read = By_Size['math_score'].mean()
Pass_Math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('size_bins')['Student ID'].count()/By_Size['Student ID'].count()
Pass_Read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('size_bins')['Student ID'].count()/By_Size['Student ID'].count()
Overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('size_bins')['Student ID'].count()/By_Size['Student ID'].count()

            
          
Scores_By_Size = pd.DataFrame({
    "Average Math Score": Avg_Math,
    "Average Reading Score": Avg_Read,
    '% Passing Math': Pass_Math,
    '% Passing Reading': Pass_Read,
    "Overall Passing Rate": Overall
            
})
            

Scores_By_Size = Scores_By_Size[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]

Scores_By_Size.index.name = "Total Students"


Scores_By_Size.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [46]:
By_Type = school_data_complete.groupby("type")


Avg_Math = By_Type['math_score'].mean()
Avg_Read = By_Type['math_score'].mean()
Pass_Math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('type')['Student ID'].count()/By_Type['Student ID'].count()
Pass_Read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('type')['Student ID'].count()/By_Type['Student ID'].count()
Overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('type')['Student ID'].count()/By_Type['Student ID'].count()

          
Scores_By_Type = pd.DataFrame({
    "Average Math Score": Avg_Math,
    "Average Reading Score": Avg_Read,
    '% Passing Math': Pass_Math,
    '% Passing Reading': Pass_Read,
    "Overall Passing Rate": Overall})
    

Scores_By_Type = Scores_By_Type[[
    "Average Math Score",
    "Average Reading Score",
    '% Passing Math',
    '% Passing Reading',
    "Overall Passing Rate"
]]
Scores_By_Type.index.name = "Type of School"



Scores_By_Type.style.format({'Average Math Score': '{:.1f}', 
                              'Average Reading Score': '{:.1f}', 
                              '% Passing Math': '{:.1%}', 
                              '% Passing Reading':'{:.1%}', 
                              'Overall Passing Rate': '{:.1%}'})

In [ ]:
#Comments 
#Three Observable Trends 
#1. Charter type Schools have higher average math, reading and oveall passing rate as compared to Disctrict type schools. 
#2. Charter schools have fewer students and lower budgets as compared to District schools. It appears that a higher budget does not lead to higher scores in math or reading.
#3. In District schools, percent passing of Reading scores were ~14% higher than percent passing of Math scores.